.btn-primary {
  padding: 10px 20px;
  font-weight: bold;
  color: var(--text-light-color);
  line-height: 1.38;
  border-radius: 4px;
  box-shadow: 0 2px 0 0 #0053ff;
  background-image: linear-gradient(to bottom, #1b91ff, #2068ff);
  border: solid 0.5px #568cff;
}
