.navbar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  min-width: 340px;
  padding: 0;
}

.navbar-item {
  display: inline-block;
}

.navbar-item-link {
  color: #656999;
}
