.content-header {
  padding-left: 62px;
}

.content-header-title {
  font-size: 34px;
  line-height: 1.12;
  font-weight: bold;
  color: #ffffff;
  margin-top: 0;
}

.content-header-content {
  font-size: 1.3rem;
  line-height: 1.4;
  color: #69728b;
}

@media screen and (max-width: 1230px) {
  .content-header {
    padding: 0;
  }
}
