.content-header {
  padding: 0 7rem;
}

.content-header-title {
  font-size: 34px;
  line-height: 1.12;
  font-weight: bold;
  color: var(--text-light-color);
  margin-top: 0;
}

.content-header-content {
  font-size: 20px;
  line-height: 1.4;
  color: var(--text-color);
}
