* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Formular, sans-serif;
  background-color: #000000;
  color: #69728b;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@font-face {
  font-family: "Formular";
  src: url("../fonts/Formular-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Formular";
  src: url("../fonts/Formular-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
