@import url("../fonts/Formular-Regular.otf");
@import url("../fonts/Formular-Bold.otf");

:root {
  --reg-font: Formular, sans-serif;
  --text-color: #69728b;
  --text-light-color: #ffffff;
  --dark: #13141c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--reg-font);
  background-color: #000000;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "nav nav"
    "sidebar content"
    "footer footer";
}

nav {
  grid-area: nav;
  background-color: var(--dark);
  display: grid;
  grid-template-columns: 0.3fr 2fr 7fr;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
}

.navbar-item {
  display: inline-block;
}

.navbar-item-link {
  color: #656999;
}

.nav-btn-block {
  text-align: right;
  padding: 15px;
}

.nav-login-btn {
  width: 68px;
  height: 26px;
  font-size: 14px;
  line-height: 1.14;
  background-color: var(--dark);
  opacity: 0.7;
  color: var(--text-light-color);
  border-radius: 4px;
  border: solid 0.5px var(--text-color);
}

.nav-login-btn:hover {
  cursor: pointer;
}

.side-bar {
  grid-area: sidebar;
  width: 388px;
  background-color: #181925;
  height: 90vh;
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr 15fr 1fr;
}

.side-bar-header {
  display: flex;
  justify-content: space-between;
}

.side-bar-header-left {
  display: inline-block;
  color: var(--text-light-color);
  line-height: 1;
  font-size: 20px;
  font-weight: bold;
}

.side-bar-header-right {
  font-size: 14px;
  line-height: 1.57;
}

.side-bar-header-right-link {
  color: var(--text-light-color);
}

.side-bar-login-form {
  font-size: 14px;
}

.form-password-block {
  position: relative;
  margin-top: 35px;
}

.form-email,
.form-password {
  width: 100%;
  margin-top: 25px;
  background-color: #181925;
  color: var(--text-light-color);
  border: none;
  border-bottom: solid 1px #2f3751;
}

::-webkit-input-placeholder {
  color: var(--text-color);
}
:-ms-input-placeholder {
  color: var(--text-color);
}
::-moz-placeholder {
  color: var(--text-color);
}
:-moz-placeholder {
  color: var(--text-color);
}

.btn-view-password {
  position: absolute;
  left: 330px;
  top: 15px;
  width: 25px;
  height: 15px;
}

.sub-form-text {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
  text-align: right;
}

.side-bar-btn {
  width: 100%;
  height: 38px;
  padding: 0px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-light-color);
  line-height: 1.38;
  border-radius: 4px;
  box-shadow: 0 2px 0 0 #0053ff;
  background-image: linear-gradient(to bottom, #1b91ff, #2068ff);
  border: solid 0.5px #568cff;
}

.side-bar-btn:hover {
  cursor: pointer;
}

.content {
  grid-area: content;
  height: 90vh;
  padding: 4rem;
}

.content-header {
  padding: 0 7rem;
}

.content-header-title {
  font-size: 34px;
  line-height: 1.12;
  font-weight: bold;
  color: var(--text-light-color);
  margin-top: 0;
}

.content-header-content {
  font-size: 20px;
  line-height: 1.4;
  color: var(--text-color);
  width: 90%;
}

.content-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.content-item {
  max-width: 400px;
  margin: 1.5rem;
  display: grid;
  grid-template-areas:
    "logo item-title"
    "logo item-content";
  grid-gap: 10px;
}

.content-item-logo {
  grid-area: logo;
}

.content-item-title {
  grid-area: item-title;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  color: var(--text-light-color);
  margin: 0;
}

.content-item-content {
  grid-area: item-content;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

footer {
  grid-area: footer;
  background-color: var(--dark);
  text-align: right;
}

.footer-p {
  font-size: 12px;
  padding-right: 20px;
}
