:root {
  --reg-font: Formular, sans-serif;
  --text-color: #69728b;
  --text-light-color: #ffffff;
  --dark: #13141c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--reg-font);
  background-color: #000000;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

@font-face {
  font-family: "Formular";
  src: url("../fonts/Formular-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Formular";
  src: url("../fonts/Formular-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
