.side-bar {
  background-color: #181925;
  padding: 15px;
  padding-bottom: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.side-bar > .side-bar__header {
  flex-shrink: 0;
}

.side-bar > .side-bar__form {
  flex-grow: 1;
  height: 0;
}

@media screen and (max-width: 980px) {
  .side-bar {
    padding: 1.2rem 3rem;
  }

  .side-bar > .side-bar__form {
    height: auto;
  }

}
