footer {
  background-color: var(--dark);
  text-align: right;
}

.footer-p {
  display: inline-block;
  font-size: 0.75rem;
  padding: 5px 20px;
  color: var(--text-color);
}

@media screen and (max-width: 980px) {
  footer {
    text-align: center;
  }

  .footer-p {
    padding-bottom: 10px;
    font-size: 0.87rem;
  }
}
