.content-item {
  max-width: 400px;
  margin: 1.5rem;
  display: grid;
  grid-template-columns: 0.4fr 2fr;
  grid-template-areas:
    "logo item-title"
    "logo item-content";
  grid-gap: 10px;
}

.content-item-logo {
  grid-area: logo;
}

.content-item-title {
  grid-area: item-title;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: bold;
  color: var(--text-light-color);
  margin: 0;
  padding-top: 5px;
}

.content-item-content {
  grid-area: item-content;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

@media screen and (max-width: 1470px) {
  .content-item {
    max-width: 320px;
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 1290px) {
  .content-item {
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 1230px) {
  .content-item {
    max-width: 100%;
    grid-template-columns: 1fr 7fr;
  }
}

@media screen and (max-width: 980px) {
  .content-item {
    grid-template-columns: 2fr 9fr;
  }
}
