.content-item {
  max-width: 400px;
  margin: 1.5rem;
  display: grid;
  grid-template-areas:
    "logo item-title"
    "logo item-content";
  grid-gap: 10px;
}

.content-item-logo {
  grid-area: logo;
}

.content-item-title {
  grid-area: item-title;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  color: var(--text-light-color);
  margin: 0;
  padding-top: 5px;
}

.content-item-content {
  grid-area: item-content;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
