.side-bar-login-form {
  font-size: 14px;
}

.form-password-block {
  position: relative;
  margin-top: 35px;
}

.form-email,
.form-password {
  width: 100%;
  padding-top: 25px;
  background-color: #181925;
  color: var(--text-light-color);
  border: none;
  border-bottom: solid 1px #2f3751;
}

.form-email:focus,
.form-password:focus {
  outline: none;
  background-color: #0c0c15;
  border: solid 0.5px rgba(0, 0, 0, 0.16);
  border-bottom: solid 1px var(--text-light-color);
}

::-webkit-input-placeholder {
  color: var(--text-color);
}
:-ms-input-placeholder {
  color: var(--text-color);
}
::-moz-placeholder {
  color: var(--text-color);
}
:-moz-placeholder {
  color: var(--text-color);
}

.btn-view-password {
  position: absolute;
  left: 330px;
  top: 15px;
  width: 25px;
  height: 15px;
  border: none;
  background-color: #181925;
}

.btn-view-password-img {
  position: absolute;
  top: 0;
  left: 0;
}

.view-password-disabled {
  background: url('../../../static/img/password-button/disabled/group-13-copy-4.png');
}

.view-password-active {
  background: url('../../../static/img/password-button/active/group-13-copy-3.png');
}

.view-password-hovered-active {
  background: url('../../../static/img/password-button/active-hovered/group-13-copy.png');
}

.view-password-hovered-disabled {
  background: url('../../../static/img/password-button/disabled-hovered/group-13-copy-5.png');
}

.sub-form-text {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
  text-align: right;
}

.sub-form-text a {
  color: var(--text-color);
}
