.nav {
  background-color: #13141c;
  display: flex;
  padding: 10px 1rem;
  overflow-x: auto;
}

.nav > * + * {
  margin-left: 20px;
}

.nav-element-last {
  margin-left: auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 510px) {
  .nav-element-last {
    margin-left: 20px;
  }
}
