.side-bar-header {
  display: flex;
  justify-content: space-between;
}

.side-bar-header-left {
  display: inline-block;
  color: var(--text-light-color);
  line-height: 1;
  font-size: 1.3rem;
  font-weight: bold;
  width: 78%;
  min-width: 227px;
}

.side-bar-header-right {
  display: inline-block;
  font-size: 0.87rem;
  line-height: 1.57;
  color: var(--text-light-color);
  margin-left: 10px;
  min-width: 42px;
}

@media screen and (max-width: 980px) {
  .side-bar-header-left {
    width: 85%;
  }
}
