.side-bar-header {
  display: flex;
  justify-content: space-between;
}

.side-bar-header-heading {
  color: var(--text-light-color);
  margin: 0;
}

.side-bar-header-right {
  display: inline-block;
  font-size: 0.87rem;
  line-height: 1.57;
  color: var(--text-light-color);
  margin-left: 10px;
}
